<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <meta charset="utf-8">
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <%- css('css/base.css') %>
</head>
<body>
  <div id="container">
    <div id="wrap">
      <div class="outer">
        <section id="main"><%- body %></section>
      </div>
    </div>
  </div>
</body>
</html>
